* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: darkcyan;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 150px;
  padding: 0 50px;
}

main h1 {
  width: 100%;
  margin: 25px 0px;
}

main figure {
  box-sizing: border-box;
  width: 25%;
  padding: 0 25px;
  margin-bottom: 25px;
}

img {
  width: 100%;
}

figcaption {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
