* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: #d4838f;
  color: #312736;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  margin: 24px;
  font-size: 24px;
  text-shadow: 2px 1px 1px #ebcaca;
}

#editor {
  min-width: 780px;
  max-width: 780px;
  margin: auto;
}

#buttons {
  box-sizing: border-box;
  background-color: #d6abb1;
  padding-top: 3px;
  padding-left: 3px;
  height: 36px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#buttons button {
  padding: 8px 10px;
  background-color: #d6abb1;
  border-radius: 6px;
}

#buttons button:hover {
  cursor: pointer;
  background-color: #d4838f;
}

#buttons button.active {
  box-shadow: inset 1px 1px 3px #312736;
  background-color: #d4838f;
}

#text-box {
  box-sizing: border-box;
  overflow: auto;
  height: 480px;
  padding: 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 3px 3px 5px #31273677;
  background-color: #ebcaca;
  font-size: 18px;
}

#text-box:focus {
  outline: none;
}
