* {
  margin: 0;
  padding: 0;
  border: 0;
  --base-color: #e9f2f9;
  --text-color: #1b325f;
  --primary-color: #3a89c9;
  --secondary-color: #9cc4e4;
  --special-color: #f26c4f;
}

body {
  background: linear-gradient(
      var(--primary-color),
      var(--base-color) 90%,
      white
    )
    no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

header {
  box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
  background-color: var(--primary-color);
  /* box-shadow: 1px 1px 6px var(--primary-color); */
  border-bottom: 2px dashed var(--secondary-color);
}

header h1 a {
  text-decoration: none;
  font-weight: lighter;
  color: var(--text-color);
  text-shadow: 1px 1px 1px var(--secondary-color);
  border: 2px dashed var(--text-color);
  border-radius: 6px;
  padding: 6px 12px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  width: 720px;
  padding: 24px;
}

section {
  box-sizing: border-box;
  text-align: center;
}

section h2 {
  margin: 24px 0;
}

.btn {
  padding: 8px;
  font-size: 16px;
  background-color: var(--base-color);
  border: 1px solid var(--text-color);
  border-radius: 6px;
  color: var(--text-color);
}

.add {
  font-size: 20px;
  padding: 16px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--base-color);
}

input {
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px var(--text-color);
}

#searchbar {
  font-size: 16px;
  padding: 8px;
  height: 24px;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px var(--text-color);
  color: var(--text-color);
}

#add-contacts {
  width: 720px;
  margin: auto;
  margin-bottom: 24px;
}

#add-contacts form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#add-contacts label {
  align-self: flex-start;
  font-size: 20px;
}

#add-contacts input {
  margin-bottom: 18px;
  font-size: 16px;
  padding: 6px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 720px;
  margin: auto;
}

main h3 {
  font-size: 24px;
  color: var(--special-color);
}

.contact {
  width: 25%;
  margin: 12px 0;
  padding: 12px;
  border: 2px dashed var(--primary-color);
  border-radius: 6px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons button {
  width: 40%;
}

.hide {
  display: none;
}
