* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #fcf7d3;
  padding: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body section {
  box-sizing: border-box;
  margin: auto;
  border: 2px dashed #cd8c52;
  border-radius: 5px;
  width: 640px;
}

section h1 {
  color: #5e3929;
  margin: 12px;
}

section ul {
  margin: 12px;
}

section ul li {
  list-style-type: none;
  color: #5e3929;
  background-color: #f5edb6;
  border-radius: 5px;
  padding: 6px;
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section ul li a {
  color: red;
  text-decoration: none;
}

#dialogue {
  display: none;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 50%;
  width: 360px;
  height: 120px;
  margin-left: -180px;
  padding: 12px;
  border-radius: 5px;
  background-color: #fcf7d3;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.407);
  color: #5e3929;
}

#dialogue a {
  text-decoration: none;
  position: relative;
  top: 50px;
  left: 250px;
  padding: 5px 10px;
  border-radius: 5px;
}

#dialogue a.yes {
  background-color: rgb(127, 209, 127);
  color: green;
}

#dialogue a.no {
  background-color: rgb(236, 118, 118);
  color: rgb(203, 0, 0);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#contextMenu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cdc9a5;
  padding: 10px 0;
  border: 2px dashed #5e3929;
  border-radius: 5px;
}

#contextMenu li {
  list-style-type: none;
  padding: 6px 10px;
}

#contextMenu li:hover {
  background-color: #8b8970;
  color: #fcf7d3;
}

#contextMenu a {
  color: #5e3929;
  text-decoration: none;
}
